@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@200&display=swap");

html {
  max-width: 1800px;
  margin: auto;
  /* overflow: hidden; */
}
* {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}
#page-header {
  /* width: 100%; */
  padding: 4px 8px;
}
#block-navigation {
  display: flex;
  flex-direction: row;
  padding: 4px;
}
#navlogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: "Pacifico", cursive;
}
#navlogo span {
  font-family: "Pacifico", cursive;
}

#navbar-link {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2px 8px;
  margin: 0 0 0 8px;
}
#navlogo img {
  width: 40px;
}

#nav-link-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: stretch;
}

.navlinks {
  padding-right: 12px;
  display: flex;
}

.navlinks .nav-hover-links {
  display: block;
  margin: auto;
  padding: 4px 2px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  color: rgb(20, 20, 20);
  text-align: center;
  position: relative;
  cursor: pointer;
}

.nav-hover-links::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0%;
}
.nav-hover-links:hover::before {
  background-color: rgb(39, 38, 38);
  height: 2px;
}
#cart-link {
  font-size: 16px;
}

form#search-form {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
#search-btn {
  background: rgb(0, 0, 0, 0);
  border: none;
  outline: none;
  padding: 4px;
}
input#searchbar {
  padding: 2px;
  font-size: 16px;
}
.w-low {
  font-size: 18px;
  font-weight: 400;
}

/*  */

.main-largedrpdown {
  padding: 8px 12px;
  position: absolute;
  top: 102%;
  margin: auto;
  display: none;
  align-items: stretch;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.89);
}
.sub-categories {
  padding: 0 8px;
}
.sub-categories-heading {
  text-align: center;
  width: max-content;
  margin: auto;
}
.categories-list {
  list-style: none;
  margin-top: 4px;
}
.categories-list a {
  text-decoration: none;
  color: rgb(41, 152, 226);
  display: block;
  padding: 4px 2px;
  text-align: center;
  margin: auto;
  width: max-content;
}
.nav-hover-links:hover div.main-largedrpdown {
  display: flex;
  /* flex-wrap: wrap; */
}

/*  */

.main-carousel {
  max-height: 70vh;
  overflow: hidden;
  position: relative;
  /* border-bottom: 2px solid; */
}
span.carousel-controler {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  top: 0;
  color: #ffffff;
  z-index: 1;
  text-shadow: 1px 1px 20px #ffffff94;
  font-size: 32px;
}
span.carousel-controler:hover {
  background-color: rgba(24, 23, 23, 0.438);
  color: white;
}
#scroll-left {
  left: 0;
}
#scroll-right {
  right: 0;
}
.inner-carousel-frame {
  display: flex;
  width: 300%;
}

.img-container {
  width: 33.3%;
  /* height: 100%; */
  position: relative;
  display: flex;
  align-items: flex-start;
}
.carousel-image {
  width: 100%;
}
.linkwrapper-span {
  display: none;
}
.ca-maincontentContainer {
  position: absolute;
  top: 25px;
  text-align: center;
  width: 80%;

  font-weight: 500;
  color: white;
  /* transform-origin: 50% 50%; */
  left: 50%;
  display: flex;
  flex-direction: column;
  z-index: 0;
  height: 90%;
  transform: translate3d(50%, -100%, 0);
  justify-content: flex-start;
}
.ca-maincontentContainer span {
  display: block;
  font-size: 40px;
}
.ca-maincontentContainer a {
  display: block;
  text-decoration: none;
  font-size: 24px;
  padding: 4px 8px;
  color: white;
  background-color: rgba(90, 90, 90, 0.685);
  backdrop-filter: blur(1rem);
  width: max-content;
  margin: 10px auto 0;
}
.animatedText {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.61s;
  animation-duration: 0.61s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes fadeInDown {
  0% {
      
    opacity: 0;
    
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(50%, -100%, 0);
  }
  100% {
    opacity: 1;
    
    -webkit-transform: none;
    transform: translate3d(-50%, 0%, 0);
  }
}

.categories{

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 12px 8px;
}
.category-items-container{
  width: 19%;

}
.category-item{
  display: block;
  margin: auto;
  text-decoration: none;

}
.category-imageholder{
display: block;
text-align: center;
}
.category-imageholder img{
  width: 40px;
  height: 40px;
}

.category-name{
display: block;
text-align: center;
font-size: 16px;
color: rgb(31, 30, 30);
}

.cards-wrapper{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.header-l{
  width: 90%;
  margin: 4px auto;
  border-top:1px solid black;
  border-bottom: 1px solid black;
  padding: 8px 12px;
}
.center-text{
  display: block;
  text-align: center;
}
.flex-cards-l{
  display: flex;
  padding: 4px;
  overflow: hidden;
  justify-content: center;
  flex-direction: column;
  width: 23%;
  text-decoration: none;
  color: black;

}

.card-image img{
  width: 100%;
}
.card-desc{
  font-size: 16px;
  padding: 8px 0;
}
.card-price{
  color: rgb(32, 174, 230);
  font-weight: 500;
}
.card-wrapper{
  width: 100%;
  
}
.sub-container-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  padding: 12px 0;

}
.grid-display-cards{
  display: grid;
  grid-template-columns: auto auto;
width: 30%;
height: 200px;
}
.img-holders{
  overflow: hidden;
}
.img-holders img{
  width: 100%;
}
.long-item {
  grid-row: 1 / 3;
}
.long-item img{
  transform: scale(1.25);
}
.link-anchor{
  display: block;
  grid-column: 1 / 3;
  text-align: center;
  margin-top: 8px;
  text-decoration: none;
  color: #64C7EE;
}




/* cart.html */
.cart-main{
  display: grid;
  grid-template-columns: 3fr 1fr;

}
.cart-products-holder{
  padding: 4px 8px;
  display: grid;

}


.cart-billing{
  padding: 8px 12px;
}
.total-bill{
  padding: 2px;
  margin: 0 0 4px;
}
.sm-subhead{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid;
  width: 90%;
  margin: auto;
}
.sm-subhead span{
  display: block;
  font-size: 16px;
}
.dis-tags-price{
  color:rgb(190, 27, 5);
}
.cart-total span{
  font-size: 18px;
  font-weight: 600;
  border: none;
}
.checkout{
  padding: 2px;
  display: block;
}
.cart-coupon{
  display: flex;
  align-items: center;
  margin: auto;
  width: 90%;
}
.cart-coupon input{
  padding: 8px 4px;
  font-size: 16px;
  display: block;
}
.cart-coupon input[type ="text"]{
  width: 100%;
}
.cart-coupon input[value = "Apply"]{
  border: 2px solid black;
    outline: none;
    color: white;
    background: black;
    cursor: pointer;
}
.checkout .block-checkout-btn{
  display: block;
  width: 90%;
  color: #ffffff;
  background-color: rgb(15, 15, 15);
  font-size: 18px;
  padding: 4px 0;
  outline: none;
  border: none;
  /* margin-top: 8px; */
  margin:8px auto 0;
  cursor: pointer;

}


.cart-main a{
  text-decoration: none;
  color: black;
}

.cart-product{
  display: flex;
  flex-direction:row;
  padding: 8px 12px;
  background-color: #ECEEF0;
  margin-bottom: 8px;

}
.cart-product-img{
flex: 1;
padding: 4px 8px;
}
.cart-desc-wrapper{
  flex: 3;
  padding: 4px 8px;
}
.cart-desc-wrapper span{
  display: block;
  padding-bottom: 4px;
  font-size: 18px;
  
}
.cart-product-img img{
  width: 100%;
}
.quantity-form input{
  width: 40px;
}


.pr-remove-btn{
  display: block;
  width: 100%;
  padding: 8px 0;
  text-align: center;
  font-weight: 600;
}

.prc-bighead{
  color: #424242;
  font-size: 22px;
  letter-spacing: 2px;
  width: auto; 

}

.filtercontainer{
  width: 95%;
  margin: 8px auto;
  border: 2px solid;
  border-radius: 6px;
  padding: 4px 8px;
}
.filterForm{

}
.filter-options{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.filter-options li{
  display: block;
}
#sortfilter{
  padding: 2px;
  font-size: 15px;
}
.as-filter-btn{
  padding: 2px 4px;
  display: block;
  border: 1px solid;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  position: relative;

}
#filterbar{
  position: absolute;
  top: 127%;
  right: -10px;
  background-color: white;
  padding: 4px 8px;
  border: 1px solid;
  z-index: 1;

}
#filterbar form{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 900px;
  justify-content: space-evenly;
  position: relative;
  height: 40vh;

}
#filterbar form button{
  position: absolute;
  display: block;
  bottom: 20px;
  right: 10px;
  color: #ffffff;
  background-color: rgb(44, 46, 46);
  outline: none;
  border: none;
  padding: 8px 12px;
  cursor: pointer;

}

/* pr-collection.html */

.collection-wrapper{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items: end;
}
.collection-card{
  display: flex;
  flex-direction: column;
  
  padding: 8px 10px;
}

.pr-img-wrapper{
  width: 100%;
}
.pr-img-wrapper img{
  width: 100%;
}
.card-desc a{
  text-decoration: none;
  color: #424242;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }

footer{
    margin-top: 89vh;
    font-size: 28px;
    text-align: center;
    width: 100%;
}







@media only screen and (max-width: 1024px){
  .collection-wrapper{
    grid-template-columns: repeat(4,1fr);
  }
} 



@media only screen and (max-width: 768px) {
  #page-header{
    box-shadow: 0px 4px 20px 1px #0000008f;
  }
  .img-container {
    display: flex;
    align-items: stretch;
  }
  .linkwrapper-span {
    display: block;
  }
  #navbar-link {
    justify-content: flex-end;
  }
  #nav-link-list {
    display: flex;
    flex-direction: column-reverse;
  }

  div.main-largedrpdown {
    position: relative;
    display: none;
    font-size: 14px;
    flex-wrap: wrap;
  }
  .navlinks {
    padding: 0;
  }
  .navlinks .nav-hover-links {
    display: block;
    padding: 4px 2px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    position: relative;
    color: rgb(20, 20, 20);
    /* text-align: center; */
    border-top: 1px solid;
    position: relative;
    cursor: pointer;
    width: 100%;
  }
  #cart-link {
    display: none;
  }
  #navlogo img {
    width: 30px;
  }
  #navlogo {
    font-size: 30px;
  }
  form#searchform {
    width: 100%;
    padding: 8px 0;
    text-align: center;
    position: relative;
  }
  form#searchform input{
    width: 100%;
  }
  #search-btn{
    position: absolute;
    right: 0;
    top: 10px;
  }
  .ca-maincontentContainer span {
    display: block;
    font-size: 30px;
  }
  .ca-maincontentContainer a {
    display: block;
    font-size: 20px;
  }
  .card-desc{
    font-size: 13px;
  }
  .grid-display-cards{
    display: grid;
    grid-template-columns: auto auto;
  width: 30%;
  height: 150px;
  }
  /* cart.html */

  .cart-main{
    grid-template-columns: 1fr;
    margin-bottom: 16px;

  }
  .cart-products-holder{
    
  }
  .cart-desc-wrapper span,.quantity-form label,.quantity-form input{
    font-size: 16px;
  }

  .collection-wrapper{
    grid-template-columns: repeat(3,1fr);
  }
}

@media only screen and (max-width: 520px){

  .categories{

    padding: 12px 0px;
  }
  .category-imageholder img{
    width: 36px;
    height: 36px;
  }

  .category-name{
    font-size: 12px;
    }
    .cards-wrapper{
      display: grid;
      grid-template-columns: repeat(2,auto);
      grid-gap: 2px;
      place-items: center;
      flex-wrap: wrap;
    }
    .flex-cards-l{
      width: auto;
    }
    .grid-display-cards{
      display: grid;
      grid-template-columns: auto auto;
      width: 30%;
      height: 100px;
    }



    .cart-desc-wrapper span,.quantity-form label,.quantity-form input{
      font-size: 14px;
    }
    .pr-remove-btn{
      font-size: 12px;
    }
    .as-filter-btn{
      font-size: 14px;
    }
    #sortfilter{
      font-size: 14px;
    }
    .collection-wrapper{
      grid-template-columns: repeat(2,1fr);
    }


}


